#nav{
	font-family: 'Comfortaa', cursive;
	font-weight:400;
	border: none;
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0.0);
}

#logo-area{
	font-size: 1.5em;
}

#logo{
	padding-right: 10px;
	font-size: 2em;
}

h1{
	font-family: 'Comfortaa', cursive;
	margin-top: 0;
}
