#team-sidebar{
	background-color: #e0e1e2;
}

#recess-team-logo{
	text-decoration: none;
	font-size: 32px;
	color: black;
}

#recess-team-logo-img{
	padding-bottom: 14px;
	font-size: 32px;
}

#main-team-content{
	text-align: center;
}

#team-username{
	margin: 0;
}

#add-location{
	margin-left: 5px;
}


#location-info{
	width: 20%;
	padding: 1.2%;
	background-color: #cacbcd;
}

#team-columns{
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
	display: flex;
	margin-left: 260px;
	height: 100vh;
}

.info-segment{
	width: 40%;
	box-shadow: 0px 0px 20px rgba(34, 36, 38, 0.15);
}

.ui.small.modal{
	padding: 20px;
}

.ui.modal > .actions{
	background-color: white;
	border-top: none;
}
#locations{
	padding: 0;
}

#direct-messages{
	padding: 0;
}

.nav-headers{
	padding-top: 14px;
}

#name-submit{
	margin-top: 5px;
}

#check-in{
	margin-top: 15px;
}

#check-in-name{
	margin:0;
}

#check-in-time{
	margin-top:5px;
}
#calendar-column{
	padding: 1.2%;
	text-align: center;
}

#message-column{
	background-color: white;
}

#location-calendar{
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}

#from-time{
	float: left;
	margin-right: 10px;
}

#to-time{
	float: right;
}

.calendar-container{
	display: inline-block;
}

#reservation-title{
	margin-bottom: 5px;
}

#reservation-time{
	margin-top:0;
	margin-bottom: 5px;
}

#reservation-container{
	margin-bottom: 20px;
}
